/* ------In The Name Of Allah--------- */
/* start box */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.d-block{
    display: block;
}
.gap-20{
    gap: 20px;
}
.w-full{
    width: 100%;
}
.w-fit{
    width: fit-content;
}
@media (max-width:767px) {
    .txt-c-mobil{
        text-align: center;
    }
    .block-mobil{
        display: block;
    }
    .hide-mobile{
        display: none;
    }
}
/* end box */
/* start position */
.p-relative{
    position: relative;
}
/* end position */
/* start padding and margin */
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.m-20{
    margin: 20px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.mt-0{
    margin-top: 0;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt15{
    margin-top: -15px;
}
.mt-30{
    margin-top: 30px;
}
.mt-10{
    margin-top: 10px;
}
.mt-25{
    margin-top: 25px;
}
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.ml-40{
    margin-left: 40px;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}
.mr-70{
    margin-right: 70px;
}
.br-none{
    border: none;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-5{
    margin-bottom: 5px;
}
.p-3{
    padding: 3px;
}
.p-5{
    padding: 5px;
}
.p-30{
    padding: 30px;
}
.p-50{
    padding: 50px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-30{
    margin-bottom: 30px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.br-b{
    border-bottom: 1px solid #eee;
}
.br-t{
    border-top: 1px solid #eee;
}
/* end padding and margin */
/* start text and fonts */
.txt-c{
    text-align: center;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-25{
    font-size: 25px;
}
.fs-18{
    font-size: 18px;
}
.fs-30{
    font-size: 30px;
}
.fs-40{
    font-size: 40px;
}
.align-center{
    align-items: center;
}
.fw-bold{
    font-weight: bold;
}
.ln-16{
    line-height:1.6 ;
}
/* end text and fonts */
/* start color */
.bg-white{
    background-color: white;
}
.bg-ccc{
    background-color: #ccc;
}
.c-white{
    color: white;
}
.bg-eee{
    background-color: #eee;
}
.c-black{
    color: black;
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-green{
    background-color: var(--green-color);
}
.bg-grey{
    background-color: var(--grey-color);
}
.c-grey{
    color: var(--grey-color);
}
.c-green{
    color: var(--green-color);
}
.bg-green{
    background-color: var(--green-color);
}
.c-orange{
    color: var(--orange-color);
}
.bg-orange{
    background-color: var(--orange-color);
}
.c-red{
    color: var(--red-color);
}
.bg-red{
    background-color: var(--red-color);
}
.c-blue{
    color: var(--blue-color);
}
.linkedin{
    background-color: #0077b5;
}
.c-linkedin{
    color: #0077b5;
}
.c-gold{
    color: #FFD700;
}
.bg-icon-blue{
    background-color: rgb(0 117 255 / 20%);
}
.bg-icon-green{
    background-color: rgb(34 197 94 / 20%);
}
.bg-icon-red{
    background-color: rgb(244 67 54 / 20%);
}
.bg-icon-orange{
    background-color: rgb(245 158 11 / 20%);
}
/* end color */
/* start border */
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.rad-50{
    border-radius: 50%;
}
.b-none{
    border: none;
}
.b-eee{
    border: 1px solid #eee;
}
/* end border */
/* start media */
@media (max-width:767px) {
    .ms-s{
        display: none;
    }
    .d-ms{
        display: block;
    }
    .ms-fs-12{
        font-size: 12px;
    }
    .ms-m{
        margin: 0;
    }
}
/* end media */
/* start componants */
.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center ;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
/* end componants */
/* start upload */
.upload .info img{
    width: 50px;
}
.upload .box{
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
/* end upload */
